/.idea
/.idea/*
!.gitignore
classes/*
/.DS_Store
.Ds_Store
*.sublime-workspace
templates/
*.pyc
__pycache__/
*.model
*.vector

/model/*
model/*
model/
out/
target/
out/*
target/*
data/
data/*
/data/*
uwsgi.log


*.jpg
*.png

*.pickle





